.slider-for {
    margin: 0 auto;
    width: 90%;
    img {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}
.slider-nav {
    margin: 20px;
    height: 100px;
    img {
        display: block;
        width: 100%;
        margin: 0 5px;
    }
}

.slick-slide img {
    display: block;
    height: 100%;
    width: 100%;
}




